@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "Eina";
  src: url("/recursos/fuente/Eina02-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Eina", sans-serif;
  font-weight: 700;
  font-size: 64rem;
  line-height: 74px;
  color: #003d29;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 29px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
  color: #231f1e;
}

.contenedor {
  margin-right: auto;
  margin-left: auto;
  padding: 0 55px;
}

.boton {
  margin: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 28px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: #003d29;
  padding: 10px 20px 10px 20px;
  transition: filter 0.3s ease;
}
.boton:hover {
  filter: brightness(0.5);
}

.card--product {
  display: grid;
  grid-template-rows: repeat(2, auto);
  padding: 1rem 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.card--product:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
.card--product .card--product__img {
  border: solid #f5f6f6 0.2rem;
  border-radius: 10%;
  background-color: #f5f6f6;
  height: auto;
  text-align: center;
  margin: auto;
}
.card--product .card--product__img img {
  max-width: 60%;
}
.card--product .card--product__txt {
  display: grid;
  margin: 1rem 0;
}
.card--product .card--product__txt .title_card {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.8rem;
  margin: 1rem 0;
}
.card--product .card--product__txt .precio_card {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  color: #333333;
}
.card--product .card--product__txt .desc_card {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #9d9d9d;
}

.card--product__notfound {
  background-color: #f5f6f6;
}
.card--product__notfound .error_header {
  text-align: center;
  margin: auto;
  font-size: 10rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card--product__notfound .error_context {
  text-align: center;
  margin: auto;
}
.card--product__notfound .error_context p {
  font-size: 3rem;
  margin: auto;
}

.menu-bar {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 80%;
  background-color: white;
}
.menu-bar .menu-bar_links {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.menu-bar .menu-bar_links a {
  margin: auto 0;
  align-content: center;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #006400;
  font-size: 2rem;
}
.menu-bar .menu-bar_links a:hover {
  color: #014701;
}
.menu-bar .menu-bar_links .input_search {
  display: flex;
  flex-direction: row;
  width: 45%;
  height: auto;
}
.menu-bar .menu-bar_links .input_search #busqueda {
  border-radius: 5px;
  margin: auto 0;
  border: solid 1px #f5f6f6;
  background-color: #f5f6f6;
  width: 100%;
  padding: 1rem 2.5rem;
}
.menu-bar .menu-bar_links .input_search :focus {
  outline: none;
}
.menu-bar .menu-bar_links .input_search #result_search {
  color: red;
  margin: auto 0;
}

.contenido1 {
  background-color: #a6d4e6;
  background-image: url(../recursos/img/index_img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 35% auto;
  height: 55rem;
}
.contenido1 .contenido1_banner .contenido1_texto {
  margin-bottom: 2rem;
}
.contenido1 .contenido1_banner .contenido1_texto h1,
.contenido1 .contenido1_banner .contenido1_texto p {
  margin: 4rem 0;
}
.contenido1 .contenido1_banner .contenido1_boton {
  text-align: start;
  font-size: 2rem;
  transition: filter 0.3s ease;
}
.contenido1 .contenido1_banner .contenido1_boton a {
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #003d29;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.contenido1 .contenido1_banner .contenido1_boton:hover {
  filter: brightness(0.5);
}

.contenido2 {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 2rem;
  padding-top: 80px;
  padding-bottom: 80px;
}
.contenido2 h2 {
  margin: 0;
  padding: 0;
}
.contenido2 .contenido2_cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0 5rem;
}
.contenido2 .contenido2_cards a {
  margin: auto;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  transition: filter 0.3s ease;
}
.contenido2 .contenido2_cards a:hover {
  filter: brightness(0.5);
}
.contenido2 .contenido2_cards .card_categori {
  text-decoration: none;
  height: 15rem;
  width: auto;
  border-radius: 2.5%;
  display: grid;
  align-content: center;
}
.contenido2 .contenido2_cards .gpu {
  background-image: url(../recursos/img/index_img/gpu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
.contenido2 .contenido2_cards .cpu {
  background-image: url(../recursos/img/index_img/cpu.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
.contenido2 .contenido2_cards .psu {
  background-image: url(../recursos/img/index_img/psu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.contenido3 {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.contenido3 .contenido3_header {
  display: inline-block;
  margin: 0;
}
.contenido3 .contenido3_header h2 {
  margin: 0;
}
.contenido3 .contenido3_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  border-radius: 5%;
}
.contenido3 .contenido3_card a {
  text-decoration: none;
  color: #231f1e;
  font-family: "Inter", sans-serif;
}

.contenido4 {
  background-color: #ffe6cc;
  margin: 5rem 0;
}
.contenido4 .contenido4_cont {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: auto;
  place-items: center;
}
.contenido4 .contenido4_cont .contenido4_cont--header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 1.5rem;
}
.contenido4 .contenido4_cont .contenido4_cont--header h2 {
  font-size: 5rem;
}
.contenido4 .contenido4_cont .contenido4_cont--header p {
  font-size: 2rem;
}
.contenido4 .contenido4_cont .contenido4_cont--header .contenido4_cont--boton {
  margin: 2rem 0;
}
.contenido4 .contenido4_cont .contenido4_cont--img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido4 .contenido4_cont .contenido4_cont--img img {
  max-width: 100%;
  max-height: 100%;
}

.footer-bar {
  display: grid;
  grid-template-columns: 30% auto;
  background-color: #ffffff;
  margin-bottom: 2rem;
  column-gap: 12rem;
}
.footer-bar .footer-bar__cont p {
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #9d9d9d;
}
.footer-bar .footer-bar__cont .metodos-pagos {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.footer-bar .footer-bar__cont .metodos-pagos h2 {
  font-size: 1.8rem;
}
.footer-bar .footer-bar__cont .metodos-pagos .metodos-pagos_icon {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}
.footer-bar .footer-bar__cont .metodos-pagos .metodos-pagos_icon img {
  width: 43px;
  height: auto;
  border: solid black 2px;
  border-radius: 25%;
  padding: 1rem;
}
.footer-bar .footer-bar_links {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 2rem;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.footer-bar .footer-bar_links .div-category {
  display: flex;
  flex-direction: column;
}
.footer-bar .footer-bar_links .div-category h2 {
  font-size: 2rem;
}
.footer-bar .footer-bar_links .div-category .div-category__sub {
  display: grid;
}
.footer-bar .footer-bar_links .div-category .div-category__sub a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #003d29;
}
.footer-bar .footer-bar_links .div-category .div-category__sub a:hover {
  color: #ff5c4c;
  transform: translateX(1rem);
  transition: transform 0.3s ease;
}

.creacion_producto {
  display: flex;
  flex-direction: row;
  margin: 5rem;
  column-gap: 10rem;
}
.creacion_producto .producto_img {
  display: contents;
  width: auto;
  margin: auto;
}
.creacion_producto .producto_img img {
  max-width: 30%;
}
.creacion_producto .producto_contenido {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.creacion_producto .producto_contenido--final {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.creacion_producto .producto_contenido--final .contenido_final--precio {
  font-size: 4.5rem;
}
.creacion_producto .producto_contenido--final .contenido_final--comprar {
  margin: 0;
}

.wea {
  display: grid;
  grid-template-columns: repeat(3, auto);
  font-size: 1px;
  background-color: #003d29;
}
.wea p {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.line-division {
  border: solid #ebe5e5 0.05rem;
  margin: 3rem 5.5rem;
}

/*# sourceMappingURL=style.css.map */
