@font-face {
  font-family: "Eina";
  src: url("./recursos/fuente/Eina02-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$color-texto-header: #003d29;
$color-fondo-parrafo: #231f1e;
$color-texto: #333333;
$color-texto-suave: #9d9d9d;
$color-enlace: #006400;
$color-fondo-blanco: #ffffff;
$color-fondo-seccion: #a6d4e6;
$color-fondo-destacado: #ffe6cc;
